In [4]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [5]:
print (my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
print (my_list[0])

1

In [7]:
print (my_list[2])

3

print with format string with list

In [8]:
print('print all {a} value in  {x} {y} of list which is in {z} with 7 position as {y} {t}'
.format(a = 'MY LIST',x=my_list,y= 'value', z = 'list',t =my_list[6]))

print all MY LIST value in  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] value of list which is in list with 7 position as value 7

In [9]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
my_list.append(100)

In [11]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [12]:
my_list2 = ['a','b','c']

In [13]:
my_list2

['a', 'b', 'c']

In [14]:
my_list3 = my_list + my_list2

In [15]:
my_list3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 'a', 'b', 'c']

In [16]:
my_list3.reverse()

In [17]:
print (my_list3)

['c', 'b', 'a', 100, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [18]:
my_list3.pop(2)

'a'

In [19]:
my_list3

['c', 'b', 100, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [20]:
my_list3 = my_list3 + ['Apple']

In [21]:
my_list3

['c', 'b', 100, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 'Apple']

In [28]:
my_list4 = ['c', 'b', 100, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 'Apple']

In [30]:
my_list3 = my_list3 + my_list4

In [31]:
my_list4

['c', 'b', 100, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 'Apple']

In [32]:
a = my_list4.pop(7)

In [33]:
a

6

In [34]:
my_list4

['c', 'b', 100, 10, 9, 8, 7, 5, 4, 3, 2, 1, 'Apple']

In [35]:
my_list4.reverse()

In [36]:
my_list4

['Apple', 1, 2, 3, 4, 5, 7, 8, 9, 10, 100, 'b', 'c']

In [37]:
my_list4.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [40]:
my_list3.clear()

In [41]:
my_list3

[]

In [42]:
my_list3.append(1)

In [43]:
my_list3

[1]

In [44]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]

In [45]:
matrix = [l1,l2,l3]

In [46]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [47]:
#list under list

In [48]:
matrix[0][2]

3

In [49]:
matrix[1][0]

4