In [2]:
# for items in objects:
                    # to do statements

In [2]:
l = [1,2,3,4]

In [3]:
l

[1, 2, 3, 4]

In [9]:
for item in l:
    print (item)

1
2
3
4

In [10]:
for item in l:
    print (l)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [11]:
for item in l:
    print ("I am Number")

I am Number
I am Number
I am Number
I am Number

In [2]:
l = [1,2,3,4,5,6,7,8,9,10]

In [6]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
for mod in l:
    if mod % 2 == 0:
        print (mod)

2
4
6
8
10

In [10]:
for mod in l:
    if mod % 2 == 1:
        print (mod,'"I am odd number"')

1 "I am odd number"
3 "I am odd number"
5 "I am odd number"
7 "I am odd number"
9 "I am odd number"

In [14]:
add = 0

for num in l:
    add = add + num + 3
print (add)

85

In [4]:
add = 0

for num in l:
    add += num  
    print (add)

1
3
6
10
15
21
28
36
45
55

In [6]:
add = 0 
for num in l:
    add += num
print ("The total is",add)

The total is 55

In [8]:
a = 'Apple'
for items in a:
    print (items)

A
p
p
l
e

In [13]:
a = 'Orange'
for items in a:
    print ('')
print (a)

Orange

In [14]:
t = (1,2,3)

In [15]:
t

(1, 2, 3)

In [16]:
t[0]

1

In [17]:
t[2]

3

In [18]:
l = [(1,2),(3,4),(5,6)]

In [20]:
l[0]

(1, 2)

In [22]:
l[1]

(3, 4)

In [23]:
l[3]

IndexError: list index out of range

In [25]:
for tupl in l:
    print (tupl)

(1, 2)
(3, 4)
(5, 6)

In [26]:
for (tx,ty) in l:
    print(tx)

1
3
5

In [27]:
for (tx,ty) in l:
    print(ty)

2
4
6

In [30]:
for (tx,ty) in l:
    tx += 3
    print(tx)
    print(l)

4
[(1, 2), (3, 4), (5, 6)]
6
[(1, 2), (3, 4), (5, 6)]
8
[(1, 2), (3, 4), (5, 6)]

In [53]:
dict_1 = {'A':1 ,'B': 2}

In [54]:
dict_1.keys()

dict_keys(['A', 'B'])

In [55]:
dict_1['A']

1

In [57]:
for (k,v) in dict_1.items():
    
    print (k)
    v += 2
    print (v)

A
3
B
4